<footer>
  <span class="left">Book Bhandar</span>
  <a href="https://facebook.com">
    <i class="fab fa-facebook" aria-hidden="true" style="color: rgba(0, 89, 255, 0.753);"></i>
  </a>
  <a href="https://google.com">
    <i class="fab fa-google" aria-hidden="true" style="color: red;"></i>
  </a>
  <a href="https://twitter.com">
    <i class="fab fa-twitter" aria-hidden="true"></i>
  </a>
  <a href="https://instagram.com">
    <i class="fab fa-instagram" aria-hidden="true" style="color: rgb(255, 102, 0);"></i>
  </a>
  <span class="right"> &copy; Made by Naman, Neel, Harsh</span>
</footer>